potentially misleading statement in TCP Implementation section

From [TCP Implementation](https://textbook.cs168.io/transport/tcp-implementation.html):

> The ACK (acknowledge) flag is turned on when the acknowledgment number is relevant and being used to ack data. If I want to send data, but didn’t receive any data that needs to be acked, I can turn this flag off, which tells the other host to ignore the ack number.

This statement might be misleading -- according to [RFC 929 Section 3.10](https://datatracker.ietf.org/doc/html/rfc9293#section-3.10.7.4-2.5.1) which provides a suggested implementation of TCP Event Processing, all packets being received during the `OPEN` state must have the ACK field set, or else the segment will be deemed invalid and dropped.

potential fix (although it's quite wordy and can be refined more): If I want to send data, but didn’t receive any data that needs to be acked, I can _set the ACK field to contain the highest ACK number I received_, which tells the other host that I did not receive any new bytes greater than or equal to that ACK number.